# Java compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Ignore general package files, except the final jar you want
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignore all JARs except your final JAR
*.jar
!target/metal-purity-backend-0.0.1-SNAPSHOT.jar

# Maven build folders
/target/
/target/**

# But allow final jar inside target
!target/metal-purity-backend-0.0.1-SNAPSHOT.jar

# JVM crash logs
hs_err_pid*
replay_pid*
